@page "/Channels/DeletePost/{slug}"
@model Final.Pages.Channels.DeletePostModel


<div class="col-md-6 col-sm-12 mx-auto mb-5">
    <form method="post" asp-page-handler="DeletePost">
        <input type="hidden" value="@Model.Post.Slug" name="slug" />
        <input type="hidden" value="@Model.Post.Topic.Slug" name="Topicslug" />
        <div class="text-md-left">
            <h2 class="display-4">@Html.DisplayFor(modelItem => Model.Post.Title)</h2>
        </div>
        <div>
            <h4> @Html.DisplayFor(modelItem => Model.Post.Body)</h4>
        </div>
        <div>
            <h4> @Html.DisplayFor(modelItem => Model.Post.Description)</h4>
        </div>
        <div>
            <h4> @Html.DisplayFor(modelItem => Model.Post.Author)</h4>
        </div>
        <div>
            <label asp-for="Post.Published" class="control-label"></label>
            <h4> @Html.DisplayFor(modelItem => Model.Post.Published)</h4>
        </div>
        <div>
            <label asp-for="Post.LastEditedOn" class="control-label"></label>
            <h4> @Html.DisplayFor(modelItem => Model.Post.LastEditedOn)</h4>
        </div>
        <div class="row">
            <div class="col-sm-4 text-sm-end align-self-center">
            </div>
            <div class="col-8">
                <button type="submit" class="btn btn-outline-primary">Do the thing!</button>
            </div>
        </div>

    </form>
</div>

<div>
    <a asp-page="/TopicDetails">Back to List</a>
</div>
