@page "/Channels/Details/{channelSlug}"
@using Newtonsoft.Json

@model Final.Pages.Channels.DetailsModel

@{
}

@*@{
    Layout = null;
}*@

<div class="text-md-left">
    <h1 class="display-4">@Html.DisplayFor(modelItem => Model.Channel.Title)</h1>
</div>
<div>
    <h4> @Html.DisplayFor(modelItem => Model.Channel.Description)</h4>
</div>
<div class=" text-left">
    @*<div class=" text-right">
        @if (Model.IsAdmin)
        {
            <a asp-page="AddTopics" asp-route-channelSlug="@Model.Channel.Slug">Add A Topic</a>
        }
    </div>*@

    <a asp-page="/Channels/AddTopics" asp-route-channelSlug="@Model.Channel.Slug">Add A Topic</a>
    <h2>Topics: </h2>


    @foreach (var item in Model.Channel.TopicList)
    {
        <a asp-page="Posts" asp-route-channelSlug="@item.Slug"><h3>@Html.DisplayFor(modelItem => item.TopicTitle)</h3></a>
    }


</div>