@page "/Channel/Posts/{slug}"
@model Final.Pages.Channels.PostsModel
@{
}

<h1>Post</h1>

<div class="text-md-left">
    <h2 class="display-4">@Html.DisplayFor(modelItem => Model.Post.Title)</h2>
</div>
<div>
    <h4> @Html.DisplayFor(modelItem => Model.Post.Body)</h4>
</div>
<div>
    <h4> @Html.DisplayFor(modelItem => Model.Post.Description)</h4>
</div>
<div>
    <h4> @Html.DisplayFor(modelItem => Model.Post.Author)</h4>
</div>
<div>
    <label asp-for="Post.Published" class="control-label"></label>
    <h4> @Html.DisplayFor(modelItem => Model.Post.Published)</h4>
</div>
<div>
    <label asp-for="Post.LastEditedOn" class="control-label"></label>
    <h4> @Html.DisplayFor(modelItem => Model.Post.LastEditedOn)</h4>
</div>

<div class=" align-text-bottom">
    <div class=" text-right">
        @*@if (Model.IsAdmin)
        {*@
        @*<a asp-page="AddTopics" asp-route-channelSlug="@Model.Channel.Slug">Add A Topic</a>*@

        <h1 class="mt-2">Comments</h1>

        @foreach (var comment in Model.Comments)
        {
            <partial name="DisplayCommentPartial" model="comment" />
        }

        <partial name="AddCommentPartial" model="Model.AddCommentModel" />

    

        <a asp-page="/Channels/DeletePost" asp-route-slug="@Model.Post.Slug">Delete</a>
        <a asp-page="/Channels/EditPost" asp-route-slug="@Model.Post.Slug">Edit</a>


    </div>

    @*<h2>Topics: </h2>


    @foreach (var item in Model.Post.Comments)
    {
        <a asp-page="Posts" asp-route-slug="@item.Slug"><h3>@Html.DisplayFor(modelItem => item.Title)</h3></a>
    }*@


</div>