@page  "/TopicDetails/{topicSlug}"
@model Final.Pages.Channels.TopicDetailsModel


<div class="text-md-left">
    <h1 class="display-4">@Html.DisplayFor(modelItem => Model.Topic.TopicTitle)</h1>
</div>
<div>
    <h4> @Html.DisplayFor(modelItem => Model.Topic.TopicDescription)</h4>
</div>
<div class=" text-left">
    <div class=" text-right">
        @*@if (Model.IsAdmin)
            {*@
        @*<a asp-page="AddTopics" asp-route-channelSlug="@Model.Channel.Slug">Add A Topic</a>*@
        <a asp-page="/Channels/AddPosts" asp-route-topicSlug="@Model.Topic.Slug">Add A Post</a>
        @*}*@
    </div>

    <h2>Topics: </h2>


    @foreach (var item in Model.Topic.Posts)
    {
        <a asp-page="Posts" asp-route-topicSlug="@item.Slug"><h3>@Html.DisplayFor(modelItem => item.Title)</h3></a>
    }


</div>
